APP_NAME=SunuPass
ENVIRONMENT=local
DEBUG=false
DATABASE_URL=sqlite:///./app.db
# Exemple PostgreSQL (AlwaysData) :
# DATABASE_URL=postgresql+psycopg2://netra:CHANGE_ME@postgresql-netra.alwaysdata.net/netra_sunupass
# Si SSL est requis :
# DATABASE_URL=postgresql+psycopg2://netra:CHANGE_ME@postgresql-netra.alwaysdata.net/netra_sunupass?sslmode=require
DB_ECHO=false
ENV_FILE=.env
